<div id="canvas-wrap">
    <canvas id="chart" width="1200" height="265"></canvas>
    <div class="currentDate"> <b>{{currentDate | date:'EEE dd-LLL-yyy'}}</b></div>
    <div class="timePerState offDuty">
        {{timeDurations.offDutyTimeDur}}
    </div>
    <div class="timePerState sleeper">
        {{timeDurations.sbTimeDur}}
    </div>
    <div class="timePerState drive">
        {{timeDurations.driveTimeDur}}
    </div>
    <div class="timePerState onDuty">
        {{timeDurations.onDutyTimeDur}}
    </div>

    <div id="anchor__left" class="pathDivider">
        <div class="anchor">
            <div class="dash">
            </div>
            <div class="marker">
                <svg id="sv" width="14" height="20">
                <polygon points="0,20 14,20 14,5 7,0 0,5" style="fill:#004F64;" />
              </svg>
            </div>
        </div>
    </div>
    <div id="anchor__right" class="pathDivider">
        <div class="anchor">
            <div class="dash">
            </div>
            <div class="marker">
                <svg id="sv" width="14" height="20">
                <polygon points="0,20 14,20 14,5 7,0 0,5" style="fill:#004F64;" />
              </svg>
            </div>
        </div>
    </div>
</div>