canvas {
    border: solid rgb(199, 199, 199) 1px;
}

#canvas-wrap {
    position: relative;
    & .pathDivider {
        display: none;
        position: absolute;
        z-index: 3;
        top: 165px;
        &#anchor__left {
            left: 100px;
        }
        &#anchor__right {
            left: 200px;
        }
    }
    & .anchor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: none;
        width: 15px;
        height: 100%;
        .dash {
            height: 100%;
            width: 3px;
            background: repeating-linear-gradient(to bottom, #245A66 0, #245A66 10px, transparent 10px, transparent 14px);
        }
        .marker {
            height: 20px;
            width: 14px;
            cursor: pointer;
        }
    }
}