.container {
    max-width: 1200px;
    margin: 0 auto;
    .event-print {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        .event-info>button {
            border-radius: 5px;
            padding: 3px 18px;
            width: 195px;
            font-size: 16px;
        }
    }
}

app-chart {
    position: relative;
}